* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background: linear-gradient(to right, #544a7d, #ffd452);
}

img {
  display: block;
  max-width: 100%;
}

.text {
  text-decoration: none;
  font-weight: 700;
  tab-size: 35px;
  color: rgb(236, 240, 17);
}

.timer {
  font-weight: 700;
  font-size: 25px;
  color: #52ff5b;
  display: flex;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  font-weight: 600;
  font-size: 15px;
}